# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.exp

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.qmake.stash
Makefile*
*.pro.user
*.pyc
*.pdb
/build/build-*
bin/release/
bin/release_x64/

# Mac-specific stuff
.DS_Store

# misc
*.tlog
*.vcxproj.user
*.~p2
*.autosave
object_script.*
*.png~
moc_*
*.debian.tar.xz
*.dsc
*source.buildinfo
*source.changes
*source.ppa.upload
*.so.*

# docu
*.lyx~
*.lyx\#
*.odg\#
*.ilk
*.txt
