/SingleZoneSingleOutdoorsConstruction/
/SingleZoneSingleOutdoorsConstructionSideB/
/SingleZoneSingleOutdoorsConstructionWithShwRad/
/SingleZoneSingleOutdoorsConstructionWithWindow/
/SingleZoneSingleOutdoorsConstructionSmall/
/SingleZoneWithConstantOtherRoom/
/SingleZoneWithScheduledOtherRoom/
/SingleZoneSingleOutdoorsConstructionWithShwRadInverted/
