/HydraulicNetworkStatic/
/HydraulicNetworkStaticBackFlow/
/HydraulicNetworkSplitter/
/HydraulicNetworkStaticInvertedPump/
/ThermoHydraulicNetworkStaticFlowCooling/
/ThermoHydraulicNetworkStaticFlowConstantHeatloss/
/ThermoHydraulicNetworkStaticFlowConstantHeatloss_Dense/
/ThermoHydraulicNetworkStaticFlowParallelPipes/
/ThermoHydraulicNetworkStaticFlowConstantHeatloss_KLU/
/ThermoHydraulicNetworkStaticFlowParallelPipesMixer/
/HydraulicNetworkStaticZeroPump/
/ThermoHydraulicNetworkHeatExchangerHeatFluxConst/
/ThermoHydraulicNetworkHeatExchangerHeatFluxDataFile/
/ThermoHydraulicNetworkPumpWithLosses/
/ThermoHydraulicNetworkSimplePipeAdiabat/
/ThermoHydraulicNetworkSimplePipeTemperatureDataFile/
