/TemperatureDifferenceControlHeatLossSpline/
/TemperatureDifferenceControlHeatPump/
/ThermostatControlFloorHeating/
/ThermostatControlRegisterHeating/
/ControlledValveConstantMassFlux/
/ControlledValveTemperatureDifferenceFollowingElement/
/ThermostatControlledIdealFloorHeating/
/ThermostatControlledIdealPipeRegister/
/ThermostatControlledPipeRegister/
/ControlledPumpPipeRegister/
/ConstantMassFluxThermostatControlledPipeRegister/
