/TemperatureDifferenceControlHeatLossSpline/
/TemperatureDifferenceControlHeatPump/
/ThermostatControlFloorHeating/
/ThermostatControlRegisterHeating/
/ControlledValveConstantMassFlux/
/ControlledValveTemperatureDifferenceFollowingElement/
