/IdealPipeRegisterHeatingConstant/
/IdealFloorHeating/
/IdealPipeRegisterCoolingConstant/
/IdealFloorCooling/
/IdealPipeRegisterCooling/
/IdealPipeRegisterHeating/
/IdealPipeRegisterScheduled/
/ThermostatControlledIdealFloorHeating/
/ThermostatControlledIdealPipeRegister/
/ThermostatControlledIdealParallelPipeRegister/
