/SingleZoneSingleOutdoorsConstruction/
/SolarRadiationModel/
/SolarRadiationModel_Perez/
/SolarRadiationModel_Normal/
/IntegralMeanOutputs/
/VentilationRateConstant2Zones/
/InfiltrationConstantSingleZone/
/InfiltrationScheduledSingleZone/
/SingleZoneSingleOutdoorsConstructionSideB/
/LoadsIncidenceAngle/
