/SimQ_09.1_shadingFactors.tsv
/Fensterlaibungen.nandrad
/Fensterlaibungen_shadingFactors_with_laibung.tsv
/Fensterlaibungen/
/Fensterlaibungen.sh
/Fensterlaibungen_shadingFactors.d6o
/Fensterlaibungen_shadingFactorsNandrad.tsv
/PV_Panel/
/PV_Panel*
